.content {
  height: 100%;
  width: 100vw;
  display: flex;
  nav {
    background-color: var(--menu-color);
    width: clamp(50px, calc((100vw - 1920px) / 4 + 400px), 400px);
    height: 100%;
    @media screen and (max-width: 950px) {
      width: fit-content;
    }
    .nav-container {
      height: calc(100% - 20px);
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      .logo {
        width: 40px;
        height: 40px;
        padding: 10px;
        @media screen and (max-width: 950px) {
          padding: 5px;
        }
      }
      .menu-options {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .title {
          &:hover {
            color: #ffffff;
          }
        }
        .menu-option {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #9ca3af;
          position: relative;
          padding: 0px 10px 0px 10px;
          .menu {
            cursor: pointer;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .menu-left {
              display: flex;
              align-items: center;
              gap: 20px;
              position: relative;
              z-index: 1;
              background-color: var(--menu-color);
            }
            &:hover {
              & .menu-left > .title {
                color: #ffffff;
              }
              .icon {
                filter: invert(99%) sepia(1%) saturate(2599%) hue-rotate(225deg)
                  brightness(110%) contrast(100%);
              }
            }
          }
          .icon {
            width: 30px;
            height: 30px;
            filter: invert(66%) sepia(10%) saturate(335%) hue-rotate(179deg)
              brightness(97%) contrast(85%);
          }
          .icon.arrow {
            width: 25px;
            height: 25px;
            transition: transform 0.5s;
            &.selected {
              transform: rotate(90deg);
            }
          }
          .title {
            font-weight: 600;
            @media screen and (max-width: 950px) {
              display: none;
            }
          }
        }
      }
      .menu-bottom {
        .menu-option {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 20px;
          color: #9ca3af;
          border-radius: 10px;
          padding: 10px;
          &:hover {
            background: rgba(#ffffff, 0.1);
            color: #ffffff;
            .icon {
              filter: invert(99%) sepia(1%) saturate(2599%) hue-rotate(225deg)
                brightness(110%) contrast(100%);
            }
          }
          .icon {
            width: 30px;
            height: 30px;
            filter: invert(66%) sepia(10%) saturate(335%) hue-rotate(179deg)
              brightness(97%) contrast(85%);
          }
          .title {
            font-weight: 600;
            @media screen and (max-width: 950px) {
              display: none;
            }
          }
        }
      }
    }
  }
  .route-container {
    width: 100%;
    background-color: #ececec;
  }
}

.selected-icon {
  filter: invert(99%) sepia(1%) saturate(2599%) hue-rotate(225deg)
    brightness(110%) contrast(100%) !important;
}

.selected-menu {
  background: rgba(#ffffff, 0.1);
  color: #ffffff !important;
}
