<div class="content">
  <nav *ngIf="userLogged">
    <div class="nav-container">
      <div class="menu-upper">
        <img
          class="logo"
          alt="logo da empresa"
          src="../../../assets/Logo SVG.svg"
        />
        <div class="menu-options">
          <app-dropdown
            icon="../../../assets/home-outline.svg"
            label="Home"
          ></app-dropdown>
          <app-dropdown
            icon="../../../assets/file-tray-outline.svg"
            label="Cadastro"
          >
            <span class="title">Clientes</span>
          </app-dropdown>
        </div>
      </div>
      <div class="menu-bottom">
        <div (click)="logout()" class="menu-option">
          <img
            type="image/svg+xml"
            class="icon"
            alt="imagem de uma casa"
            src="../../../assets/exit-outline.svg"
          />
          <span class="title">Sair</span>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
