<div class="content">
  <nav *ngIf="userLogged">
    <div class="nav-container">
      <div class="menu-upper">
        <img
          class="logo"
          alt="logo da empresa"
          src="../../../assets/Logo SVG.svg"
        />
        <div class="menu-options">
          <div
            [ngClass]="{ 'selected-menu': router.url === '/home' }"
            class="menu-option"
            (click)="goTo('home')"
          >
            <img
              type="image/svg+xml"
              class="icon"
              alt="imagem de uma casa"
              src="../../../assets/home-outline.svg"
              [ngClass]="{ 'selected-icon': router.url === '/home' }"
            />
            <span class="title">Home</span>
          </div>
          <div
            [ngClass]="{ 'selected-menu': router.url.includes('/cadastro') }"
            class="menu-option"
          >
            <img
              type="image/svg+xml"
              class="icon"
              alt="imagem de uma casa"
              src="../../../assets/file-tray-outline.svg"
              [ngClass]="{ 'selected-icon': router.url.includes('/cadastro') }"
            />
            <span class="title">Cadastro</span>
            <div class="menu-selected">
              <img
                type="image/svg+xml"
                class="icon"
                alt="imagem de uma casa"
                src="../../../assets/file-tray-outline.svg"
                [ngClass]="{
                  'selected-icon': router.url.includes('/cadastro')
                }"
              />
              <span class="title">Cadastro</span>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-bottom">
        <div (click)="logout()" class="menu-option">
          <img
            type="image/svg+xml"
            class="icon"
            alt="imagem de uma casa"
            src="../../../assets/exit-outline.svg"
          />
          <span class="title">Sair</span>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
