.content {
  width: 100vw;
  height: 100vh;
  nav {
    background-color: var(--menu-color);
    width: clamp(50px, calc((100vw - 1920px) / 4 + 400px), 400px);
    height: 100%;
    @media screen and (max-width: 950px) {
      width: fit-content;
    }
    .nav-container {
      height: calc(100% - 20px);
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .logo {
        width: 40px;
        height: 40px;
        padding: 10px;
        @media screen and (max-width: 950px) {
          padding: 5px;
        }
      }
      .menu-options {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .menu-bottom {
        .menu-option {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 20px;
          color: #9ca3af;
          border-radius: 10px;
          padding: 10px;
          &:hover {
            background: rgba(#ffffff, 0.1);
            color: #ffffff;
            .icon {
              filter: invert(99%) sepia(1%) saturate(2599%) hue-rotate(225deg)
                brightness(110%) contrast(100%);
            }
          }
          .icon {
            width: 30px;
            height: 30px;
            filter: invert(66%) sepia(10%) saturate(335%) hue-rotate(179deg)
              brightness(97%) contrast(85%);
          }
          .title {
            font-weight: 600;
            @media screen and (max-width: 950px) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.selected-icon {
  filter: invert(99%) sepia(1%) saturate(2599%) hue-rotate(225deg)
    brightness(110%) contrast(100%) !important;
}

.selected-menu {
  background: rgba(#ffffff, 0.1);
  color: #ffffff !important;
}
