<div class="container">
  <div class="box">
    <div class="top-text">
      <h1 class="title">Cadastro de fornecedor</h1>
      <span class="desc"
        >Preencha as informações corretamente para cadastrar um fornecedor
        novo</span
      >
    </div>
    <div class="form">
      <form [formGroup]="form" class="register">
        <input
          formControlName="name"
          type="text"
          placeholder="Nome da empresa"
          [class.invalid]="
            form.get('name')?.invalid && form.get('name')?.touched
          "
        />
        <input
          mask="00.000.000/0000-00"
          formControlName="cnpj"
          type="text"
          placeholder="CNPJ"
          [class.invalid]="
            form.get('cnpj')?.invalid && form.get('cnpj')?.touched
          "
        />
        <input
          [class.invalid]="
            form.get('email')?.invalid && form.get('email')?.touched
          "
          formControlName="email"
          type="text"
          placeholder="E-mail"
        />
        <input
          mask="(00) 00000-0000"
          [class.invalid]="
            form.get('phone')?.invalid && form.get('phone')?.touched
          "
          formControlName="phone"
          type="text"
          placeholder="Telefone"
        />
      </form>
      <img class="plus-icon" src="../../../../../assets/plus-icon.png" />
    </div>
    <footer class="buttons">
      <button class="button">Salvar</button>
      <button class="button">Cancelar</button>
    </footer>
  </div>
</div>
