<div class="container">
  <div class="box">
    <div class="top-text">
      <h1 class="title">Cadastro de produto</h1>
      <span class="desc"
        >Preencha as informações corretamente para cadastrar um produto
        novo</span
      >
    </div>
    <div class="form">
      <form [formGroup]="form" class="register">
        <input
          formControlName="name"
          type="text"
          placeholder="Nome do produto"
          [class.invalid]="
            form.get('name')?.invalid && form.get('name')?.touched
          "
        />
        <input
          formControlName="cost_price"
          type="text"
          placeholder="Valor de custo unitário"
          mask="separator.2"
          thousandSeparator=""
          [class.invalid]="
            form.get('cost_price')?.invalid && form.get('cost_price')?.touched
          "
        />
        <input
          formControlName="description"
          type="text"
          placeholder="Descrição do produto"
          [class.invalid]="
            form.get('description')?.invalid && form.get('description')?.touched
          "
        />
        <input
          formControlName="sale_price"
          type="text"
          placeholder="Valor de venda unitário"
          thousandSeparator=""
          mask="separator.2"
          [class.invalid]="
            form.get('sale_price')?.invalid && form.get('sale_price')?.touched
          "
        />
        <input
          formControlName="code"
          [class.invalid]="
            form.get('code')?.invalid && form.get('code')?.touched
          "
          type="text"
          placeholder="Código"
        />
        <input
          formControlName="qnt_in_stock"
          type="text"
          pattern="[0-9]*"
          mask="0*"
          placeholder="Quantidade em estoque"
          [class.invalid]="
            form.get('qnt_in_stock')?.invalid &&
            form.get('qnt_in_stock')?.touched
          "
        />
        <select
          [(ngModel)]="supplierSelected"
          [ngModelOptions]="{ standalone: true }"
          class="select"
        >
          <option value="" disabled selected>Fornecedor</option>
          <option *ngFor="let supplier of suppliers" [ngValue]="supplier.id">
            {{ supplier.fantasy_name }}
          </option>
        </select>
      </form>
      <img class="plus-icon" src="../../../../../assets/plus-icon.png" />
    </div>
    <footer class="buttons">
      <p-button
        [loading]="isLoading"
        [disabled]="isLoading"
        styleClass="form-button"
        (click)="createProduct()"
        styleClass="button"
        >Salvar</p-button
      >
      <button (click)="clearForm()" class="button">Limpar</button>
    </footer>
  </div>
</div>
<p-toast position="bottom-center"></p-toast>
