.container {
  height: 100%;
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .buttons {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  .edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
